// color
$primary: #5D8FFF;
$secondary: #7028E4;
$black: #05062c;
$white: #f8f9fa;
$primary-gradient: linear-gradient(to right, $secondary, $primary);

::selection {
    color: $white;
    background-color: $secondary;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-gradient;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}
// font family
body {
    font-family: 'Quicksand', sans-serif !important;
    background-color: $black !important;
    .bio {
        background-color: #060737;
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
