@import '../../custom';

.banner {
    .card {
        background: $primary-gradient !important;
        position: relative;
        overflow: hidden;

        .banner-bg {
            position: absolute;
            top: -50px;
            left: -200px;
            width: 80%;
        }

        .banner-card {
            position: relative;
            z-index: 1;
            .banner-title {
                color: $light;
                margin-top: -8px;

                p {
                    opacity: 0.6;
                }

                h2 {
                    font-weight: 700;
                }
            }

            .banner-btn {
                margin-top: 2rem;

                background-color: $primary;
                color: $white;
                transition: 0.5s;
                border: none;

                &:hover {
                    background-color: hsl(221, 100%, 50%);
                    color: $light;
                }
            }
        }
    }
}