@import '../../custom';

.projects {
    .project {
        img {
            width: 100%;
        }

        .project-link {
            .project-study-case {
                opacity: 0.6;
                transition: 1s;

                &:hover {
                    opacity: 1;
                }

                a {
                    text-decoration: none;
                }
            }

            .project-view-website {
                opacity: 0.6;
                transition: 1s;

                &:hover {
                    opacity: 1;
                }

                a {
                    text-decoration: none;
                }
            }
            .project-btn {
                background: $primary-gradient;
                color: $white;
                font-size: 1rem;
                transition: 1s;
                border: none;

                &:hover {
                    background: linear-gradient(to right, #6120c9, #4373da);
                    color: $light;
                }
            }
        }
    }
}